




.account{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-left: 10px;
}

.account:hover{
    color: #f68b1e;
}

.signInButton{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: orangered; */
    width: 100%;
}

.signInButton button{
    background-color: #f68b1e;
    color: white;
    padding: 5px 30px;
    margin-top: 2%;
    font-size: 14px;
    font-weight: 300;
    border-radius: 3px;
    border: none;
}

.accountAdditionalContent{
    background-color: #ffffff;
    /* background-color: green; */
    position: absolute;
    margin-top: 10%;
    padding: 10px;
    z-index: 3;
}

.myAccount{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    margin: 5px 0px;
    padding: 5px;
}

.myAccount:hover{
    background-color: #a3a3a6;
}

.myAccount p{
    padding-left: 10px;
    font-size: 14px;
    font-weight: 400;
}