.container{
    background-color: red;
}

.itemsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0% 10%;
}

.jumiaImage img{
    height: 30px;
    margin-top: 2%;
}

.search{
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 30px;
    width: 35%;
}

.search input{
    border: none;
    height: 25px;
    width: 100%;
}

.faMagnifyingGlass{
    /* background-color: yellow; */
    padding: 3px;
}

.lowerSearch{
    display: flex;
    flex-direction: row;
}