.container{
    background-color: #ffffff;
}

.itemsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0% 10%;
}

.jumiaImage img{
    height: 30px;
    margin-top: 2%;
}

.search{
    border: 1px solid #a3a3a6;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 30px;
    width: 35%;
}

.search input{
    border: none;
    height: 25px;
    width: 100%;
    background: transparent;
    color: white;
}

.faMagnifyingGlass{
    /* background-color: yellow; */
    padding: 3px;
    color: #a3a3a6;
}

.lowerSearch{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lowerSearch p{
    /* background-color: purple; */
    margin: 0px 3px;
    font-weight: 400;
}

.searchButton{
    background-color: #f68b1e;
    border: none;
    height: 30px;
    margin-left: 10px;
    border-radius: 2px;
    padding: 7px;
    color: white;
}



.cart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    /* background-color: greenyellow; */
    padding: 10px;
}

.cart:hover{
    color: #f68b1e;
}



